- if user_signed_in?
  %p= link_to "Create event", new_event_path, class: "btn btn-primary btn-large"

- if events.any?
  %ul
    - events.each do |event|
      %li= link_to event.name, event_path(event)
- else
  %p There are no events yet.
