-# = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| 
-#   %fieldset
-#     %legend Sign In
-# 
-#     = f.input :email 
-#     = f.input :password 
-#     - if devise_mapping.rememberable? 
-#       = f.input :remember_me, as: :boolean, wrapper: :checkbox
-# 
-#     .form-actions
-#       = f.submit "Sign in", class: "btn btn-primary"
-# 
= render "links"
