%h2 Hey,

- if @changed_attributes.include? "time"
  %p== New time is #{@event.time.strftime("%H:%M")}

- if @changed_attributes.include? "date"
  %p== New date is #{@event.date}

- if @changed_attributes.include? "address"
  %p== New address is #{@event.address}
